page-tafsir-popover {
    
    .tafsir-content {
        background-color: black;
        color: white;
    }

    .popover-content {
        background-color: black;
        width: 0;
        padding: 2px, 2px;
    }
}
