page-quran {

    .border {
        border: 20px solid transparent;
        -webkit-border-image: url("../assets/img/mushaf-hole-border-with-no-content.png") 20 round; /* Safari 3.1-5 */
        -o-border-image: url("../assets/img/mushaf-hole-border-with-no-content.png") 20 round; /* Opera 11-12.1 */
        border-image: url("../assets/img/mushaf-hole-border-with-no-content.png") 20 round;
        margin-top: 2px;
    }

    .mushaf-content {
        background-color: aliceblue;
        font-family: uthmanic;
        font-size: 3.6vw;
        line-height: 5.3vh;
        direction: rtl;
        //display: inline-block;
        padding: 2%;
        text-align: justify;
        text-align-last: justify;
    }

    .no-justify {
        text-align-last: center;
    }
    
    .mushaf-page-number {
        font-size: 3vw;
        text-align: center;
        padding-top: 5px;
    }
    
    .mushaf-container {
        text-align: center;
    }

   a {
        color: red;
        text-decoration: none;
    }

    a:focus {
        text-decoration: none;
    }

    .popover-title {
        font-size: 3vw;
        font-weight: lighter;
    }
}