page-quran {
    .no-justify {
        text-align: center;
        text-align-last: center;
    }
    .mushaf-padding {
        padding: 2% 2% 0 2%;
    }
    .fateha-padding {
        padding: 10% 0 10% 0;
    }
    .mushaf-container {
        font-size: 3.7vw;
        text-align: justify;
        text-align-last: justify;
        text-justify: inter-word !important;
        white-space: nowrap !important;
        overflow: visible;
        border: 10px solid transparent;
        border-image: url("../assets/img/mushaf-border.png") 20 round;
        -webkit-border-image: url("../assets/img/mushaf-border.png") 20 round;
    }
    .mushaf-container-fateha {
        @extend .mushaf-container;
        border: 60px solid transparent;
        border-image: url("../assets/img/fateha-border.png") 120 round;
        -webkit-border-image: url("../assets/img/fateha-border.png") 120 round;
        text-align: center;
        text-align-last: center;
        margin-top: 20%;
    }
    .moaouzat-content {
        text-align: center;
        text-align-last: center;
    }
    .ellipsis {
        /*
        text-align: right;
        text-align-last: right;
        overflow: hidden;
        text-overflow: ellipsis; 
        */
    }
    /* turnjs */
    .page-wrapper, .shadow { //this will be reflected on .page (modified in quran-page.ts)
        height: inherit !important;
        width: inherit !important;
        direction: rtl !important;
    }
    
    @media screen and (orientation: portrait) {
        line-height: 5.8vh;
        .line-height-extended {
            line-height: 6.5vh;
        }
    }
    @media screen and (orientation: landscape) {
        line-height: 17vh;
    }
}

.ios {
    page-quran {
        .mushaf-padding {
            padding: 3% 2% 0 2%;
        }
        .ios-justify {
            white-space: normal !important;
            div:after {
                content: "";
                display: inline-block;
                width: 100%;
                height: 0;
                visibility: hidden;
            }
        }
        @media screen and (orientation: portrait) {
            line-height: 3vh;
            .line-height-extended {
                line-height: 3.2vh;
            }
        }
        @media screen and (orientation: landscape) {
            line-height: 9vh;
        }
    }
}