page-quran {
    $quran-font-size: 3.7vw;
    .no-justify {
        text-align-last: center;
    } // tafsir
    .popover-title {
        font-size: 4vw;
        font-weight: lighter;
        font-family: uthmanic;
    }
    .mushaf-border {
        border: 10px solid transparent;
        border-image: url("../assets/img/mushaf-border.png") 20 round;
        padding: 2% 2% 0 2%;
        background-color: aliceblue;
    }
    .fateha-border {
        border: 60px solid transparent;
        border-image: url("../assets/img/fateha-border.png") 130 round;
        background-color: aliceblue;
    }
    .mushaf-container {
        font-family: uthmanic;
        direction: rtl;
        text-align: justify;
        text-align-last: justify;
        height: 90%; // if set to more first 2 pages scroll
    }
    .fateha-content {
        text-align: center;
        text-align-last: center;
        padding: 10% 0 10% 0;
        margin: 10% 0 0 0;
    }
    .mushaf-page-number {
        font-size: 2.5vw;
        text-align: center;
        padding-top: 10px;
        display: none;
    }
    @media screen and (orientation: portrait) {
        .portrait {
            font-size: $quran-font-size;
            line-height: 6.3vh;
        }
    }
    @media screen and (orientation: landscape) {
        .landscape {
            font-size: $quran-font-size;
            line-height: 17vh;
        }
        // tafsir
        .popover-title {
            font-size: 3.4vw;
        }
    }
  
}