page-tabs {
    font-family: uthmanic;
    .show-tab-btn {
        position: absolute;
        bottom: 5px;
        right: 10px;
        background: darkgrey;
        border-radius: 20px;
        display: none;
        opacity: 0.6;
        width: 30px;
        height: 30px;
    }
    .hide-tab-btn {
        //manipulated from tabs.ts
        @extend .show-tab-btn;
    }
}