page-tabs {
    .show-tab-btn {
        position: absolute;
        bottom: 5px;
        right: 10px;
        background: darkgrey;
        border-radius: 50%;
        display: none;
        opacity: 0.6;
        width: 40px;
        height: 40px;
    }
    .hide-tab-btn {
        //manipulated from tabs.ts
        @extend .show-tab-btn;
        bottom: 61px;
        display: block;
    }
    .font-ctls {
        position: absolute;
        bottom: 70px;
    }
    .increase-font-btn, .increase-line-height-btn {
        background: black;
        border-radius: 50%;
        opacity: 0.7;
        width: 55px;
        height: 55px;
        color: white;
        outline: none !important;
    }
    .decrease-font-btn {
        @extend .increase-font-btn;
        margin-right: 10px;
    }
    .line-height-ctls {
        position: absolute;
        bottom: 70px;
        left: 12px;
        display: flex;
        flex-direction: column;
    }
    .decrease-line-height-btn {
        @extend .increase-font-btn;
        margin-bottom: 10px;
    }
    .flex-centered-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
