// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: uthmanic;
  src: url("../assets/fonts/uthmanicV9.otf") format("truetype");
}

.border {
  border: 20px solid transparent;
  //padding: 15px;
  -webkit-border-image: url("../assets/img/mushaf-hole-border-with-no-content.png") 30 round; /* Safari 3.1-5 */
    -o-border-image: url("../assets/img/mushaf-hole-border-with-no-content.png") 30 round; /* Opera 11-12.1 */
    border-image: url("../assets/img/mushaf-hole-border-with-no-content.png") 30 round;
}

.mushaf-font {
    font-family: uthmanic;
}

.mushaf-content {
    background-color: aliceblue;
    font-family: uthmanic;
    font-size: 4vw;
    direction: rtl;
    display: inline-block;
    padding: 2%;
    text-align: justify;
    text-align-last: justify;
}

.mushaf-page-number {
    font-size: 12;
    text-align: center;
}

.mushaf-container {
    text-align: center;
}

.tafsir {
    color: red; 
}
