// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: uthmanic;
    src: url("../assets/fonts/uthmanicV9.otf") format("opentype");
}

@font-face {
    font-family: arabic;
    src: url("../assets/fonts/traditional_arabic.ttf") format("truetype");
}

.fake-link {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.fake-link:hover,
.fake-link:focus {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

ion-toast {
    opacity: 0.9;
}

.toast-md .toast-wrapper {
    text-align: center;
    border-radius: 10px;
    width: 90%;
    font-family: uthmanic;
    white-space: pre-wrap;
}

.toast-message {
    padding: 0 !important;
    font-size: 4.5vw !important;
}

@media screen and (orientation: landscape) {
    .toast-message {
        font-size: 3.5vw !important;
    }
}

@keyframes lds-eclipse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-eclipse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.lds-eclipse {
    position: relative;
}

.lds-eclipse div {
    position: absolute;
    -webkit-animation: lds-eclipse 1s linear infinite;
    animation: lds-eclipse 1s linear infinite;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 #71c2cc;
    -webkit-transform-origin: 80px 82px;
    transform-origin: 80px 82px;
}

.lds-eclipse {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}