page-content {
    .index {
        background-color: aliceblue;
    }

    span {
        //color: black
    }

    .border {
        border: 20px solid transparent;
        -webkit-border-image: url("../assets/img/mushaf-hole-border-with-no-content.png") 20 round; /* Safari 3.1-5 */
        -o-border-image: url("../assets/img/mushaf-hole-border-with-no-content.png") 20 round; /* Opera 11-12.1 */
        border-image: url("../assets/img/mushaf-hole-border-with-no-content.png") 20 round;
        margin-top: 2px;
    }

    .list > .item-block:first-child {
		border: medium none;
	}

	.item {
		margin-bottom: 10px;
		background: rgba(255, 255, 255, 0.5);
        border: medium none;
    }
}
