page-content {
    .content-container {
        display: flex;
    }
    .searchbar {
        background: white;
        border-radius: 10px;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    .searchbar-input {
        direction: rtl;
        background-color: darkgrey !important;
        opacity: 0.5;
        color: black !important;
        font-size: 1.5rem !important;
    }
    button {
        font-size: 4.5vw !important;
        width: 100%;
    }
    ::placeholder {
        color: rgb(53, 53, 53) !important;
        font-style: italic;
    }
    .vertical-line {
        border: 1px solid rgb(214, 214, 214)
    }
    @media screen and (orientation: landscape) {
        button {
            font-size: 3.5vw !important;
            height: 50px !important;
        }
    }
}