go-to-popover {
    .container {
        //background: black;
        //opacity: 0.7;
        border-radius: 20px !important;
    }
    .text-input {
        background: white;
        height: 3rem;
        direction: rtl;
    }
    .button-md {
        //height: 3rem;
        //font-style: bold; //font-family: uthmanic;
        //font-size: 1.4rem;
    }
    .scroll-content {
        //padding-bottom: 0px !important; //sometimes popover extend at the bottom
    }
    #pageNuInputRadioEl button {
        display: none;
    }
    .input-wrapper {
        //font-size: 18px;
    }
    .button-inner {
        //font-size: 18px;
    }
}