go-to-popover {
    .container {
        background: lightgrey;
    }
    .text-input {
        background: white;
        height: 3rem;
    }
    .popover-content .popover-md {
        padding: 0px;
        bottom: 0px;
    }
    .button-md {
        height: 3rem;
        font-style: bold; //font-family: uthmanic;
        font-size: 1.4rem;
    }
}